<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="creativeendlessgrowingceg.allergychecker">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <service android:name=".SpellingService"
        android:permission="android.permission.BIND_TEXT_SERVICE">
        <intent-filter >
            <action android:name="android.service.textservice.SpellCheckerService" />
        </intent-filter>

        <meta-data
            android:name="android.view.textservice.scs"
            android:resource="@xml/spellinginfo" />
    </service>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/allergychecker"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/allergychecker"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".design.activity.OnboardingPagerActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name=".design.activity.TakeoffActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_takeoff" >
        </activity>
        <activity
            android:name=".StartPage"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity

        android:name=".camera.OcrCaptureActivity"
        android:label="Read Text" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>


</manifest>

